main {
  flex-direction: row;
  align-items: start;
  gap: 2rem;
}

img {
  width: 100%;
}

.game-misc {
  background-color: var(--primary-offset-col);
  min-width: 14rem;

  & .game-cover-art {
    display: flex;
  }

  & .game-info,
  & .game-sys-req,
  & .game-rating {
    gap: 1rem;
    padding: 1rem;
  }

  & .game-info {
    & .game-info__title {
      margin-bottom: 1rem;
    }

    & .game-info__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      gap: 1rem;

      & .game-info__wrapper {
        & .game-info__subtitle {
          margin-bottom: 0.4rem;
          opacity: 0.5;
        }
      }
    }
  }

  & .game-sys-req {
    display: flex;
    flex-direction: column;

    & .game-sys-req__wrapper {
      & .game-sys-req__subtitle {
        margin-bottom: 0.4rem;
        opacity: 0.5;
      }
    }
  }

  & .game-rating {
    display: flex;
    flex-direction: column;

    & .game-rating__wrapper {
      & .game-rating__star {
        font-size: 1.4rem;
        color: var(--rating-col);
        cursor: pointer;
        transition: color 0.2s ease-out;

        &:hover {
          color: var(--rating-offset-col);
        }
      }
    }
  }
}

.game-details {
  max-width: 60%;

  & .game-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
    line-height: 1.4;

    & .game-description__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      & .game-description__title {
        font-size: 2rem;
      }
    }

    & .game-description__link {
      color: var(--accent-col);

      &::before {
        content: "\f0c1";
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 0.4rem;
      }
    }
  }

  & .game-screenshots {
    & .game-screenshots__title {
      margin-bottom: 1rem;
    }

    & .game-screenshots__fig {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 1150px) {
  main {
    flex-direction: column;
  }

  .game-misc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15rem auto auto auto;

    & .game-cover-art {
      grid-column: 1 / -1;

      & img {
        object-fit: cover;
        object-position: top;
      }
    }

    & .game-info,
    & .game-sys-req {
      grid-column: 1 / -1;
    }

    & .game-sys-req {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      & .game-sys-req__title {
        grid-column: span 3;
      }
    }

    & .game-rating {
      grid-column: 1 / -1;
    }
  }

  & .game-details {
    max-width: 100%;
  }
}
