@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-font-col: #fff;
  --primary-bg-col: #1a1e26;
  --primary-offset-col: #172836;
  --shadow-col: rgba(0, 0, 0, 0.2);
  --accent-col: #b2dfff;
  --rating-col: #ffdc69;
  --rating-offset-col: hsl(from var(--rating-col) h s calc(l + 20));
  --alert-col: #d14444;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(var(--primary-bg-col), var(--primary-offset-col));
  color: var(--primary-font-col);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary-font-col);
}

.fa-bookmark {
  font-size: 2rem;
  cursor: pointer;

  transition: color 0.3s ease-out;

  &:hover {
    color: var(--accent-col);
  }
}

.d-none {
  display: none !important;
}

.empty-msg {
  grid-column: 1 / -1;
  margin-inline: auto;
  font-style: italic;
}

.alert {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  & p {
    background-color: var(--alert-col);
    box-shadow: 0 0 6px var(--shadow-col);
    padding: 1rem;
    border-radius: 8px;
  }
}

.slide-in {
  animation: slide-in 0.6s ease-out forwards;
}

.slide-out {
  animation: slide-out 0.6s ease-out backwards;
}

.max-width {
  max-width: 60%;
}

.border-radius-8 {
  border-radius: 8px;
}

header {
  background-color: var(--primary-bg-col);
  box-shadow: 0 4px 4px var(--shadow-col);
  position: sticky;
  top: 0;
  z-index: 99;
  margin-bottom: 2rem;

  & .navbar {
    margin-inline: auto;
    display: flex;

    & .navbar__link {
      font-weight: 600;
      padding: 1rem;
      transition: background-color 0.3s ease-out;

      &:hover:not(.navbar__link--logo) {
        background-color: var(--primary-offset-col);
      }
    }

    & .navbar__link--logo {
      margin-right: auto;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  gap: 1rem;
  padding: 1rem;

  position: relative;

  & .title {
    margin-bottom: 2rem;
  }

  & .to-top {
    display: flex;
    padding: 0.6rem;
    border-radius: 50%;
    border: 2px solid var(--accent-col);
    color: var(--accent-col);
    font-size: 1.4rem;
    position: fixed;
    transition: all 0.2s ease-out;
    right: clamp(5%, 10%, 15%);
    bottom: -10%;

    &:hover {
      color: hsl(from var(--accent-col) h s calc(l + 10));
      border-color: hsl(from var(--accent-col) h s calc(l + 10));
    }
  }
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  width: 100%;
}

.game-card {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-col);
  box-shadow: 0 0 8px 4px var(--shadow-col);
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    transform: translate(4px, -4px);
    /* transform: scale(1.01); */
    filter: drop-shadow(-4px 4px 0px var(--accent-col));
  }

  & .game-card__fig {
    position: relative;
    display: flex;

    & .fa-bookmark {
      position: absolute;
      right: 0;
      padding: 0.6rem;
      z-index: 1;
      border-radius: 0 8px 0 8px;
      filter: drop-shadow(2px 2px 0px black);
    }

    & img {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
  }

  & .game-card__details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1rem;
    height: 100%;

    & .game-card__heading,
    & .game-card__types {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.8rem;
    }

    & .game-card__heading {
      & .game-card__title {
        font-size: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 1rem;
      }

      & .game-card__date {
        font-size: 0.8rem;
      }
    }

    & .game-card__types {
      margin-top: auto;

      & .game-card__genre,
      & .game-card__platform {
        padding: 0.5rem;
        background-color: var(--primary-offset-col);
        border-radius: 6px;
      }

      & .game-card__platform {
        background-color: inherit;
        border: 2px solid var(--primary-offset-col);
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  margin-block: 2rem;

  .attribution-link {
    opacity: 0.4;
  }
}

@keyframes slide-in {
  from {
    bottom: -10%;
  }
  to {
    bottom: 5%;
  }
}

@keyframes slide-out {
  from {
    bottom: 5%;
  }
  to {
    bottom: -10%;
  }
}